[submodule "xyz"]
	path = xyz
	url = https://github.com/JJJHolscher/features2image_diffusion-xyz
[submodule "guided-diffusion-pytorch"]
	path = guided-diffusion-pytorch
	url = https://github.com/openai/guided-diffusion
