## my idiosyncracies
/tmp*
/tags*

/doc/**
!/doc/**.ipynb
!/doc/**.qmd
!/doc/**.md
!/doc/**.yml

/web/**.rs
/web/**/Cargo.*

## quarto
**.quarto/

## rust
target
pkg
dist

## python
/build/
/dist/
/*.egg-info/
/.venv/
__pycache__
.egg-info
.ipynb_checkpoints
/Untitle*.ipynb

/.quarto/
