argtoml
blobfile
build
debugpy
jo3mnist
jo3util
jupyterlab
matplotlib
pyright
mpi4py
torch
torchvision
tqdm
twine
typeguard
git+https://github.com/JJJHolscher/jupytools
pandas
tomli_w
plotly
dioxus_widget
jupytext
ipykernel
# -U jax[cuda12_pip]
# -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
